@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_main-select.css';
@import './_loader.css';

body {
    font-family: 'PT Sans Narrow';
    background: url(public/images/main-background.png) no-repeat center;
    background-size: cover;
    @apply h-full sm:h-screen;
}

.top-40p {
    top: 40%;
}
