@tailwind base;
@tailwind components;
@tailwind utilities;

@import './_loader.css';

body {
    background: url(public/images/main-background.png);
}

.absolute-x-center {
    left: 50%;
    transform: translateX(-50%);
}

.top-40p {
    top: 40%;
}
