@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: url(public/images/main-background.png);
}

.absolute-x-center {
    left: 50%;
    transform: translateX(-50%);
}

.footer {
    position: absolute;
    bottom: 3%;
}
